.lbcg-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 0 20px 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:before, &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    user-select: none;
  }

  &:before {
    background-repeat: var(--lbcg-card-bg-repeat);
    background-size: var(--lbcg-card-bg-size);
    background-position: var(--lbcg-card-bg-pos);
    background-color: var(--lbcg-card-bg-color);
    background-image: var(--lbcg-card-bg-image);
    opacity: var(--lbcg-card-bg-opacity);
    z-index: 1;
  }

  &:after {
    z-index: 1000;
    opacity: 0;
    background-color: #F1F2F3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='display: block; shape-rendering: auto;' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='translate(50 50) scale(0.7000000000000001) translate(-50 -50)'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' calcMode='spline' dur='4s' values='0 50 50;90 50 50;180 50 50;270 50 50;360 50 50' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animateTransform%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='1;1;0.5' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Cg transform='translate(25 25)'%3E%3Crect x='-25' y='-25' width='52' height='52' fill='%2393dbe9'%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(25 75)'%3E%3Crect x='-25' y='-25' width='52' height='50' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(75 25)'%3E%3Crect x='-25' y='-25' width='50' height='52' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(75 75)'%3E%3Crect x='-25' y='-25' width='50' height='50' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 100px auto;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity .3s;
  }

  &-subtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: var(--lbcg-header-font-size);
    line-height: calc(var(--lbcg-header-font-size) * 1.1);
    color: var(--lbcg-header-text-color);
    font-family: var(--lbcg-header-font-family);
    z-index: 2;

    &-text {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      line-height: inherit;
      z-index: 2;

      > span {
        display: block;
        width: 20%;
        text-align: center;
        line-height: inherit;
      }

      &:not(:empty) {
        padding: 10px 0;
      }
    }
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: var(--lbcg-header-font-size);
    line-height: calc(var(--lbcg-header-font-size) * 1.1);
    height: var(--lbcg-header-height);
    color: var(--lbcg-header-text-color);
    font-family: var(--lbcg-header-font-family);
    z-index: 2;

    &-holder {
      position: relative;
      padding: 20px 20px 0 20px;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-repeat: var(--lbcg-header-bg-repeat);
        background-size: var(--lbcg-header-bg-size);
        background-position: var(--lbcg-header-bg-pos);
        background-color: var(--lbcg-header-bg-color);
        background-image: var(--lbcg-header-bg-image);
        opacity: var(--lbcg-header-bg-opacity);
        pointer-events: none;
        user-select: none;
      }

    }

    &-text {
      position: relative;
      display: block;
      text-align: center;
      line-height: inherit;
      z-index: 2;
    }
  }

  &-col {
    position: relative;
    border-top: 1px solid var(--lbcg-grid-border-color);
    border-left: 1px solid var(--lbcg-grid-border-color);
    overflow: hidden;
    color: var(--lbcg-grid-text-color);
    z-index: 2;

    &-checked {
      color: var(--lbcg-grid-square-text-color);
      background-color: var(--lbcg-grid-square-bg-color);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-text {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 3px;
    text-align: center;
    z-index: 2;
    font-family: var(--lbcg-grid-font-family);
    font-size: var(--lbcg-grid-font-size);
    line-height: var(--lbcg-grid-line-height);
    color: inherit;
    /*overflow-wrap: var(--lbcg-grid-wrap-words);*/
    transform: translate3d(0, -50%, 0);
  }

  img.emoji {
    max-width: 90%;
  }

  &-body {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    z-index: 2;

    &-grid {
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      border-right: 1px solid var(--lbcg-grid-border-color);
      border-bottom: 1px solid var(--lbcg-grid-border-color);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        background-image: var(--lbcg-grid-bg-image);
        opacity: var(--lbcg-grid-bg-opacity);
        background-color: var(--lbcg-grid-bg-color);
        background-repeat: var(--lbcg-grid-bg-repeat);
        background-size: var(--lbcg-grid-bg-size);
        background-position: var(--lbcg-grid-bg-pos);
      }

      &.lbcg-grid-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.lbcg-grid-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.lbcg-grid-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.lbcg-grid-9 {
        grid-template-columns: repeat(9, 1fr);

        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      &.lbcg-grid-3, &.lbcg-grid-4, &.lbcg-grid-5, &.lbcg-grid-9 {
        .lbcg-card-col {
          @include aspectR(1, 1);
        }
      }
    }
  }
}

.lbcg-card-preview {
  position: absolute;
  z-index: 5;
  text-align: center;
  cursor: pointer;

  &-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 80, 87, 0.2);
  }

  &-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: arvo,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
  }
}