.lbcg-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 0 20px 0;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: var(--lbcg-card-bg-repeat);
    background-size: var(--lbcg-card-bg-size);
    background-position: var(--lbcg-card-bg-pos);
    background-color: var(--lbcg-card-bg-color);
    background-image: var(--lbcg-card-bg-image);
    opacity: var(--lbcg-card-bg-opacity);
    pointer-events: none;
    user-select: none;
  }

  &-wrap {

  }

  &-subtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: var(--lbcg-header-font-size);
    line-height: calc(var(--lbcg-header-font-size) * 1.1);
    color: var(--lbcg-header-text-color);
    font-family: var(--lbcg-header-font-family);
    z-index: 2;

    &-text {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      line-height: inherit;
      z-index: 2;

      > span {
        display: block;
        width: 20%;
        text-align: center;
        line-height: inherit;
      }

      &:not(:empty) {
        padding: 10px 0;
      }
    }
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: var(--lbcg-header-font-size);
    line-height: calc(var(--lbcg-header-font-size) * 1.1);
    height: var(--lbcg-header-height);
    color: var(--lbcg-header-text-color);
    font-family: var(--lbcg-header-font-family);
    z-index: 2;

    &-holder {
      position: relative;
      padding: 20px 20px 0 20px;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-repeat: var(--lbcg-header-bg-repeat);
        background-size: var(--lbcg-header-bg-size);
        background-position: var(--lbcg-header-bg-pos);
        background-color: var(--lbcg-header-bg-color);
        background-image: var(--lbcg-header-bg-image);
        opacity: var(--lbcg-header-bg-opacity);
        pointer-events: none;
        user-select: none;
      }

    }

    &-text {
      position: relative;
      display: block;
      text-align: center;
      line-height: inherit;
      z-index: 2;
    }
  }

  &-col {
    position: relative;
    border-top: 1px solid var(--lbcg-grid-border-color);
    border-left: 1px solid var(--lbcg-grid-border-color);
    overflow: hidden;
    color: var(--lbcg-grid-text-color);
    z-index: 2;
  }

  &-text {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 3px;
    text-align: center;
    z-index: 2;
    font-family: var(--lbcg-header-font-family);
    font-size: var(--lbcg-grid-font-size);
    line-height: var(--lbcg-grid-line-height);
    color: inherit;
  }

  &-body {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    z-index: 2;

    &-grid {
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      border-right: 1px solid var(--lbcg-grid-border-color);
      border-bottom: 1px solid var(--lbcg-grid-border-color);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        background-image: var(--lbcg-grid-bg-image);
        opacity: var(--lbcg-grid-bg-opacity);
        background-color: var(--lbcg-grid-bg-color);
        background-repeat: var(--lbcg-grid-bg-repeat);
        background-size: var(--lbcg-grid-bg-size);
        background-position: var(--lbcg-grid-bg-pos);
      }

      &.lbcg-grid-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.lbcg-grid-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.lbcg-grid-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.lbcg-grid-3, &.lbcg-grid-4, &.lbcg-grid-5 {
        .lbcg-card-col {
          @include aspectR(1, 1);
        }
      }
    }
  }
}