.lbcg-sidebar {
  $self: &;
  position: sticky;
  top: 0;
  left: 0;

  &-in {
    display: flex;
    flex-direction: column;

    &.collapsed {
      .lbcg-sidebar-body {
        max-height: 300px;
      }

      .lbcg-sidebar-arrow {
        &:before {
          left: -4px;
          transform: rotate(-90deg);
        }
      }
    }
  }

  &-form {
    + .lbcg-sidebar-form {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px dashed #000;
    }
  }

  &-header {
    position: relative;
  }

  &-btn {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding: 0 26px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #382063 !important;
    color: #FFF;
    transition: background-color .3s;
    margin-right: 38px;

    &.just-link {
      width: initial;
      margin-right: 0;
      padding: 0 10px;
    }

    &:hover, &.active {
      color: #fd477f;
    }
  }

  &-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    color: #fc155c;
    background-color: #382063 !important;
    font-weight: 500;
    transition: all .3s;
    cursor: pointer;

    &:before {
      content: "›";
      display: block;
      position: absolute;
      top: 0;
      left: 2px;
      width: 38px;
      height: 38px;
      font-size: 26px;
      line-height: 38px;
      transform: rotate(90deg);
      transform-origin: center center;
      text-align: center;
      transition: all .3s;
      z-index: 1;
    }
  }

  &-body {
    overflow: hidden;
    overflow-y: auto;
    max-height: 0;
    transition: max-height .3s;
  }

  &-link {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #6c757d;
    text-decoration: none;
    background-color: #fff;
    transition: all .3s;

    &:hover, &:focus {
      text-decoration: none !important;
    }

    &:hover {
      color: #fd477f;
    }

    &.active {
      color: #fd477f;
    }
  }
}