.lbcg-sidebar {
  $self: &;
  position: sticky;
  top: 0;
  left: 0;

  &-in {
    display: flex;
    flex-direction: column;

    &.collapsed {
      .lbcg-sidebar-body {
        max-height: 300px;
      }

      .lbcg-sidebar-btn {
        &:hover, &:focus {
          text-decoration: none !important;
        }

        &:hover {
          color: #fd477f;
        }
      }

      /*.lbcg-sidebar-arrow {
        right: 5px;
        transform: rotate(90deg);
      }*/
    }
  }

  &-form {
    + .lbcg-sidebar-form {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px dashed #000;
    }
  }

  &-header {
    position: relative;
  }

  &-btn {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    padding: 0 26px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #382063 !important;
    color: #FFF;
    text-decoration: none;
    transition: background-color .3s;

    &:hover, &:focus {
      text-decoration: none !important;
    }

    &:hover {
      color: #fd477f;
    }
  }

  &-arrow {
    position: absolute;
    display: block;
    top: 0;
    right: 15px;
    height: 38px;
    pointer-events: none;
    z-index: 1;
    color: #fc155c;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .3s;
    transform: rotate(-90deg); /*TODO*/
  }

  &-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s;
  }

  &-link {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #6c757d;
    text-decoration: none;
    background-color: #fff;
    transition: all .3s;

    &:hover, &:focus {
      text-decoration: none !important;
    }

    &:hover {
      color: #fd477f;
    }

    &.active {
      color: #fd477f;
    }
  }
}