@charset "UTF-8";
@import "helpers/helpers";

@media print {
  header, footer {
    display: none !important;
  }

  *:not(.lbcg-parent),
  *:not(.lbcg-parent *) {
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .lbcg-print-wrap, .lbcg-print-wrap-in {
    page-break-after: always;
  }
}

.lbcg-custom-container {
  padding: 10px 0;
  background-color: #e4dcf3;
}

.lbcg-parent {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px 5px 0 0;
  @import "helpers/reset";

  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    color-adjust: exact !important; /*Firefox*/
  }

  &.lbcg-loading {
    &, *, *:before, *:after {
      pointer-events: none !important;
      user-select: none;
    }

    .lbcg-card {
      &:after {
        opacity: 1;
      }
    }
  }

  .lbcg-post-header {
    h1 {
      margin-bottom: .5rem;
      color: #fc155c;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.35;
      font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
    }
  }

  .lbcg-main {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
  }

  .lbcg-invitation {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    justify-content: space-between;
  }

  .lbcg-card-view {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    justify-content: center;
  }

  .lbcg-print-wrap {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;

    &-in, &-card-holder {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-card-holder {
      min-width: 400px;
      max-width: 400px;
    }

    .lbcg-card-wrap {
      min-width: 350px;
    }

    &-1 {
      grid-template-columns: 1fr;
    }

    &-2 {
      grid-template-columns: 1fr 1fr;
    }

    &-4 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .lbcg-print-wrap-card-holder {
        min-width: 0;
      }

      .lbcg-card-wrap {
        min-width: 310px;
      }
    }
  }

  .lbcg-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

    &-left {

    }

    &-right {
      min-width: 350px;
    }
  }

  .lbcg-post-content {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
      font-weight: 500;
      line-height: 1.35;
      color: var(--theme-heads, #fc155c);
    }

    h1 {
      font-size: var(--h1-size, 2rem);
    }

    h2 {
      font-size: var(--h2-size, 1.8rem);
    }

    h3 {
      font-size: var(--h3-size, 1.3rem);
    }

    h4 {
      font-size: var(--h4-size, 1.3rem);
    }

    h5 {
      font-size: var(--h5-size, 1rem);
    }

    h6 {
      font-size: var(--h6-size, 1rem);
    }

    ol, ul {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 40px;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    a {
      color: #5c0c9b;
      text-decoration: underline;

      &:hover {
        color: #59359a;
      }
    }
  }

  @import "sidebar";

  @import "forms";

  @import "card";
}