@charset "UTF-8";
@font-face {
  font-family: "Mochiy Pop P One";
  src: url("../fonts/mochiy-pop-p-one.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/dancing-script.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/saira-condensed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Creepster";
  src: url("../fonts/creepster.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Holtwood One SC";
  src: url("../fonts/holtwood-one-sc.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofadi One";
  src: url("../fonts/sofadi-one.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media print {
  header, footer {
    display: none !important;
  }

  .cookies {
    visibility: hidden;
  }

  *:not(.lbcg-parent):not(.lbcg-parent *):not(html) {
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .lbcg-print-wrap {
    display: table !important;
    width: 100% !important;
  }
  .lbcg-print-wrap-in {
    float: left;
    display: table-cell !important;
    width: 50% !important;
    max-width: 50% !important;
    margin-bottom: 100px !important;
  }
  .lbcg-print-wrap-card-holder {
    width: 100%;
  }

  .lbcg-print-wrap, .lbcg-print-wrap-in {
    page-break-after: always;
  }
}
.site-content {
  -ms-flex-pack: center;
      justify-content: center;
}

.lbcg-custom-container {
  padding: 10px 0;
}
.lbcg-custom-container .author-card {
  padding: 1rem;
}

.lbcg-wp-editor {
  margin-top: 15px;
}
.lbcg-wp-editor label {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 6px;
  cursor: pointer;
}

.lbcg-tcs {
  max-width: 900px;
  margin: 0 auto;
}
.lbcg-tcs-single {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin: 0;
  -ms-flex-align: center;
      align-items: center;
}
.lbcg-tcs-single:not(:last-child) {
  margin-bottom: 1rem;
}
.lbcg-tcs-thumb img {
  margin: 0 !important;
}
.lbcg-tcs-content-header {
  margin-top: 0 !important;
}
.lbcg-tcs-content-body {
  font-size: 0.8rem;
}
.lbcg-tcs-content-body h1, .lbcg-tcs-content-body h2, .lbcg-tcs-content-body h3, .lbcg-tcs-content-body h4, .lbcg-tcs-content-body h5, .lbcg-tcs-content-body h6 {
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  font-weight: 500;
  line-height: 1.15;
  color: var(--theme-heads, #fc155c);
}
.lbcg-tcs-content-body h1:first-child, .lbcg-tcs-content-body h2:first-child, .lbcg-tcs-content-body h3:first-child, .lbcg-tcs-content-body h4:first-child, .lbcg-tcs-content-body h5:first-child, .lbcg-tcs-content-body h6:first-child, .lbcg-tcs-content-body p:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.lbcg-tcs-content-body h1:last-child, .lbcg-tcs-content-body h2:last-child, .lbcg-tcs-content-body h3:last-child, .lbcg-tcs-content-body h4:last-child, .lbcg-tcs-content-body h5:last-child, .lbcg-tcs-content-body h6:last-child, .lbcg-tcs-content-body p:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.lbcg-tcs-content-body h1 {
  font-size: 1.3rem;
}
.lbcg-tcs-content-body h2 {
  font-size: 1.3rem;
}
.lbcg-tcs-content-body h3 {
  font-size: 1.1rem;
}
.lbcg-tcs-content-body h4 {
  font-size: 1.1rem;
}
.lbcg-tcs-content-body h5 {
  font-size: 0.8rem;
}
.lbcg-tcs-content-body h6 {
  font-size: 0.8rem;
}
.lbcg-tcs-content-body ol, .lbcg-tcs-content-body ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 40px;
}
.lbcg-tcs-content-body p {
  margin-top: 0;
}
.lbcg-tcs-content-body p:not(:last-child) {
  margin-bottom: 1rem;
}
.lbcg-tcs-content-body a {
  color: #5c0c9b;
  text-decoration: underline;
}
.lbcg-tcs-content-body a:hover {
  color: #59359a;
}

.lbcg-pagination {
  font-size: 1rem;
  margin-top: 1rem;
}
.lbcg-pagination ul {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}
.lbcg-pagination .page-item {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.lbcg-pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}
.lbcg-pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.lbcg-pagination .page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #6f42c1;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
.lbcg-pagination .page-item .page-link:hover {
  z-index: 2;
  color: #4e2d89;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.lbcg-pagination .page-item .page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
.lbcg-pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.lbcg-pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.lbcg-parent {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.lbcg-parent div, .lbcg-parent span, .lbcg-parent object, .lbcg-parent iframe, .lbcg-parent img, .lbcg-parent table, .lbcg-parent caption, .lbcg-parent thead, .lbcg-parent tbody,
.lbcg-parent tfoot, .lbcg-parent tr, .lbcg-parent tr, .lbcg-parent td, .lbcg-parent article, .lbcg-parent aside, .lbcg-parent canvas, .lbcg-parent details, .lbcg-parent figure, .lbcg-parent hgroup, .lbcg-parent menu,
.lbcg-parent nav, .lbcg-parent footer, .lbcg-parent header, .lbcg-parent section, .lbcg-parent summary, .lbcg-parent mark, .lbcg-parent audio, .lbcg-parent video {
  border: 0;
  margin: 0;
  padding: 0;
}
.lbcg-parent h1, .lbcg-parent h2, .lbcg-parent h3, .lbcg-parent h4, .lbcg-parent h5, .lbcg-parent h6, .lbcg-parent p, .lbcg-parent blockquote, .lbcg-parent pre, .lbcg-parent a, .lbcg-parent abbr, .lbcg-parent address, .lbcg-parent cit, .lbcg-parent code,
.lbcg-parent del, .lbcg-parent dfn, .lbcg-parent em, .lbcg-parent ins, .lbcg-parent q, .lbcg-parent samp, .lbcg-parent small, .lbcg-parent strong, .lbcg-parent sub, .lbcg-parent sup, .lbcg-parent b, .lbcg-parent i, .lbcg-parent hr, .lbcg-parent dl, .lbcg-parent dt, .lbcg-parent dd,
.lbcg-parent ol, .lbcg-parent ul, .lbcg-parent li, .lbcg-parent fieldset, .lbcg-parent legend, .lbcg-parent label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.lbcg-parent article, .lbcg-parent aside, .lbcg-parent canvas, .lbcg-parent figure, .lbcg-parent figure img, .lbcg-parent figcaption, .lbcg-parent hgroup,
.lbcg-parent footer, .lbcg-parent header, .lbcg-parent nav, .lbcg-parent section, .lbcg-parent audio, .lbcg-parent video {
  display: block;
}
.lbcg-parent table {
  border-collapse: separate;
  border-spacing: 0;
}
.lbcg-parent table caption, .lbcg-parent table th, .lbcg-parent table td {
  text-align: left;
  vertical-align: middle;
}
.lbcg-parent a img {
  border: 0;
}
.lbcg-parent :focus {
  outline: 0;
}
.lbcg-parent *, .lbcg-parent *:before, .lbcg-parent *:after {
  box-sizing: border-box;
}
.lbcg-parent button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.lbcg-parent * {
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari, Edge */
  color-adjust: exact !important;
  /*Firefox*/
}
.lbcg-parent.lbcg-loading, .lbcg-parent.lbcg-loading *, .lbcg-parent.lbcg-loading *:before, .lbcg-parent.lbcg-loading *:after {
  pointer-events: none !important;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lbcg-parent.lbcg-loading .lbcg-card:after {
  opacity: 1;
}
.lbcg-parent ol.lbcg-breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0.75rem;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: var(--theme-color);
  background: var(--theme-bg, #ffffff);
  border-radius: 5px 5px 0 0;
}
.lbcg-parent ol.lbcg-breadcrumb li {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem !important;
}
.lbcg-parent ol.lbcg-breadcrumb li a {
  color: var(--theme-accent);
  text-decoration: underline;
}
.lbcg-parent .lbcg-post-header {
  padding: 0 1rem;
}
.lbcg-parent .lbcg-post-header h1 {
  margin-bottom: 0.5rem;
  color: var(--theme-heads, #fc155c);
  font-size: var(--h1-size, 2rem);
  font-weight: 500;
  line-height: 1.35;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
}
.lbcg-parent .lbcg-main {
  display: -ms-grid;
  display: grid;
  padding: 0 1rem 1rem;
  -ms-grid-columns: 180px 1fr;
      grid-template-columns: 180px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0;
}
@media all and (max-width: 920px) {
  .lbcg-parent .lbcg-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .lbcg-parent .lbcg-main .lbcg-sidebar {
    position: static;
  }
  .lbcg-parent .lbcg-main .lbcg-content {
    -ms-grid-columns: 1fr 350px;
        grid-template-columns: 1fr 350px;
  }
}
@media all and (max-width: 680px) {
  .lbcg-parent .lbcg-main .lbcg-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .lbcg-parent .lbcg-main .lbcg-content-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    min-width: 320px;
    -ms-flex-order: 1;
        order: 1;
  }
  .lbcg-parent .lbcg-main .lbcg-content-left {
    -ms-flex-order: 2;
        order: 2;
  }
  .lbcg-parent .lbcg-main .lbcg-content .lbcg-card-wrap {
    width: 350px;
    max-width: 100%;
  }
}
.lbcg-parent .lbcg-main-admin {
  padding-top: 1rem;
}
.lbcg-parent .lbcg-invitation {
  display: -ms-grid;
  display: grid;
  padding: 0 1rem;
  -ms-grid-columns: 350px 350px;
      grid-template-columns: 350px 350px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media all and (max-width: 770px) {
  .lbcg-parent .lbcg-invitation {
    -ms-grid-columns: 350px 1fr;
        grid-template-columns: 350px 1fr;
  }
}
@media all and (max-width: 680px) {
  .lbcg-parent .lbcg-invitation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .lbcg-parent .lbcg-invitation .lbcg-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .lbcg-parent .lbcg-invitation .lbcg-content-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    min-width: 320px;
  }
  .lbcg-parent .lbcg-invitation .lbcg-card-wrap {
    width: 100%;
    max-width: 350px;
  }
  .lbcg-parent .lbcg-invitation .lbcg-sidebar {
    position: static;
  }
}
.lbcg-parent .lbcg-card-view {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: 350px;
      grid-template-columns: 350px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.lbcg-parent .lbcg-card-view .lbcg-card-wrap {
  min-width: 350px;
}
@media all and (max-width: 400px) {
  .lbcg-parent .lbcg-card-view {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .lbcg-parent .lbcg-card-view .lbcg-card-wrap {
    min-width: 320px;
  }
}
.lbcg-parent .lbcg-print-wrap {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.lbcg-parent .lbcg-print-wrap:not(:first-child) .lbcg-print-wrap-card-holder {
  margin-top: 20px;
}
.lbcg-parent .lbcg-print-wrap-in, .lbcg-parent .lbcg-print-wrap-card-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.lbcg-parent .lbcg-print-wrap-card-holder {
  min-width: 400px;
  max-width: 400px;
}
.lbcg-parent .lbcg-print-wrap .lbcg-card-wrap {
  min-width: 350px;
}
.lbcg-parent .lbcg-print-wrap-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}
.lbcg-parent .lbcg-print-wrap-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}
.lbcg-parent .lbcg-print-wrap-4 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}
.lbcg-parent .lbcg-print-wrap-4 .lbcg-print-wrap-card-holder {
  min-width: 0;
}
@media all and (min-width: 711px) and (max-width: 860px), all and (max-width: 440px) {
  .lbcg-parent .lbcg-print-wrap-card-holder, .lbcg-parent .lbcg-print-wrap .lbcg-card-wrap {
    min-width: 320px;
  }
}
@media all and (max-width: 710px) {
  .lbcg-parent .lbcg-print-wrap:not(:first-child) {
    margin-top: 20px;
  }
  .lbcg-parent .lbcg-print-wrap:not(:first-child) .lbcg-print-wrap-card-holder:first-child {
    margin-top: 0;
  }
  .lbcg-parent .lbcg-print-wrap-1, .lbcg-parent .lbcg-print-wrap-2, .lbcg-parent .lbcg-print-wrap-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}
.lbcg-parent .lbcg-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
.lbcg-parent .lbcg-content-right {
  min-width: 350px;
}
.lbcg-parent .lbcg-post-content {
  padding: 0.5rem 1rem;
  background: var(--theme-bg, #f9f8fa);
  font-size: 1rem;
}
.lbcg-parent .lbcg-post-content.lbcg-intro-text {
  margin-bottom: 1rem;
}
.lbcg-parent .lbcg-post-content.lbcg-intro-text h1, .lbcg-parent .lbcg-post-content.lbcg-intro-text h2, .lbcg-parent .lbcg-post-content.lbcg-intro-text h3, .lbcg-parent .lbcg-post-content.lbcg-intro-text h4, .lbcg-parent .lbcg-post-content.lbcg-intro-text h5, .lbcg-parent .lbcg-post-content.lbcg-intro-text h6 {
  padding-top: 0.5rem;
}
.lbcg-parent .lbcg-post-content h1:first-child, .lbcg-parent .lbcg-post-content h2:first-child, .lbcg-parent .lbcg-post-content h3:first-child, .lbcg-parent .lbcg-post-content h4:first-child, .lbcg-parent .lbcg-post-content h5:first-child, .lbcg-parent .lbcg-post-content h6:first-child, .lbcg-parent .lbcg-post-content p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.lbcg-parent .lbcg-post-content h1:last-child, .lbcg-parent .lbcg-post-content h2:last-child, .lbcg-parent .lbcg-post-content h3:last-child, .lbcg-parent .lbcg-post-content h4:last-child, .lbcg-parent .lbcg-post-content h5:last-child, .lbcg-parent .lbcg-post-content h6:last-child, .lbcg-parent .lbcg-post-content p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.lbcg-parent .lbcg-post-content h1, .lbcg-parent .lbcg-post-content h2, .lbcg-parent .lbcg-post-content h3, .lbcg-parent .lbcg-post-content h4, .lbcg-parent .lbcg-post-content h5, .lbcg-parent .lbcg-post-content h6 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  font-weight: 500;
  line-height: 1.35;
  color: var(--theme-heads, #fc155c);
}
.lbcg-parent .lbcg-post-content h1 {
  font-size: var(--h1-size, 2rem);
}
.lbcg-parent .lbcg-post-content h2 {
  font-size: var(--h2-size, 1.8rem);
}
.lbcg-parent .lbcg-post-content h3 {
  font-size: var(--h3-size, 1.3rem);
}
.lbcg-parent .lbcg-post-content h4 {
  font-size: var(--h4-size, 1.3rem);
}
.lbcg-parent .lbcg-post-content h5 {
  font-size: var(--h5-size, 1rem);
}
.lbcg-parent .lbcg-post-content h6 {
  font-size: var(--h6-size, 1rem);
}
.lbcg-parent .lbcg-post-content ol, .lbcg-parent .lbcg-post-content ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 40px;
}
.lbcg-parent .lbcg-post-content p {
  margin-top: 0;
}
.lbcg-parent .lbcg-post-content p:not(:last-child) {
  margin-bottom: 1rem;
}
.lbcg-parent .lbcg-post-content a {
  color: #5c0c9b;
  text-decoration: underline;
}
.lbcg-parent .lbcg-post-content a:hover {
  color: #59359a;
}
.lbcg-parent .lbcg-post-content * {
  max-width: 100%;
  height: auto;
}
.lbcg-parent .lbcg-generators-row-2 {
  width: calc(700px - 2rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.lbcg-parent .lbcg-generators-row-2:not(:last-child) {
  padding-bottom: 1rem;
}
@media all and (max-width: 700px) {
  .lbcg-parent .lbcg-generators-row-2 {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
.lbcg-parent .lbcg-generators-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1rem !important;
}
.lbcg-parent .lbcg-generators-image img {
  max-width: 100%;
  display: block;
  max-height: 300px;
}
.lbcg-parent .lbcg-generators-title {
  text-align: center;
}
.lbcg-parent .lbcg-generators-title a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.35;
  color: #6f42c1;
}
.lbcg-parent .lbcg-generators-content {
  font-size: 0.8rem;
  word-break: break-all;
}
.lbcg-parent .lbcg-generators-content h1, .lbcg-parent .lbcg-generators-content h2, .lbcg-parent .lbcg-generators-content h3, .lbcg-parent .lbcg-generators-content h4, .lbcg-parent .lbcg-generators-content h5, .lbcg-parent .lbcg-generators-content h6 {
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  font-weight: 500;
  line-height: 1.15;
  color: var(--theme-heads, #fc155c);
}
.lbcg-parent .lbcg-generators-content h1 {
  font-size: 1.3rem;
}
.lbcg-parent .lbcg-generators-content h2 {
  font-size: 1.3rem;
}
.lbcg-parent .lbcg-generators-content h3 {
  font-size: 1.1rem;
}
.lbcg-parent .lbcg-generators-content h4 {
  font-size: 1.1rem;
}
.lbcg-parent .lbcg-generators-content h5 {
  font-size: 0.8rem;
}
.lbcg-parent .lbcg-generators-content h6 {
  font-size: 0.8rem;
}
.lbcg-parent .lbcg-generators-content ol, .lbcg-parent .lbcg-generators-content ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 40px;
}
.lbcg-parent .lbcg-generators-content p {
  margin-top: 0;
}
.lbcg-parent .lbcg-generators-content p:not(:last-child) {
  margin-bottom: 1rem;
}
.lbcg-parent .lbcg-generators-content a {
  color: #5c0c9b;
  text-decoration: underline;
}
.lbcg-parent .lbcg-generators-content a:hover {
  color: #59359a;
}
.lbcg-parent .lbcg-card-wrap .lbcg-social-content {
  padding-left: 0;
  padding-right: 0;
}
.lbcg-parent .lbcg-social-content {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.lbcg-parent .lbcg-social-content.print-version {
  padding-top: 1rem;
}
.lbcg-parent .lbcg-social-content.desktop-version {
  display: block;
}
.lbcg-parent .lbcg-social-content.mobile-version {
  display: none;
}
.lbcg-parent .lbcg-social-content a {
  text-decoration: none;
  margin-right: 0.5rem;
}
.lbcg-parent .lbcg-social-content a:last-of-type {
  margin-right: 0;
}
.lbcg-parent .lbcg-social-content svg {
  width: 20px;
  height: 20px;
}
@media all and (max-width: 680px) {
  .lbcg-parent .lbcg-social-content.desktop-version {
    display: none;
  }
  .lbcg-parent .lbcg-social-content.mobile-version {
    display: block;
  }
}
@media print {
  .lbcg-parent .lbcg-social-content.print-version {
    display: none;
  }
}
.lbcg-parent .lbcg-sidebar {
  position: sticky;
  top: 0;
  left: 0;
}
.lbcg-parent .lbcg-sidebar-in {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.lbcg-parent .lbcg-sidebar-in.collapsed .lbcg-sidebar-body {
  max-height: 300px;
}
.lbcg-parent .lbcg-sidebar-in.collapsed .lbcg-sidebar-arrow:before {
  left: -4px;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
}
.lbcg-parent .lbcg-sidebar-form + .lbcg-sidebar-form {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px dashed #000;
}
.lbcg-parent .lbcg-sidebar-header {
  position: relative;
}
.lbcg-parent .lbcg-sidebar-btn {
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  padding: 0 26px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #382063 !important;
  color: #FFF;
  transition: background-color 0.3s;
  margin-right: 38px;
  text-decoration: none;
}
.lbcg-parent .lbcg-sidebar-btn:hover, .lbcg-parent .lbcg-sidebar-btn.active {
  color: #fd477f;
}
.lbcg-parent .lbcg-sidebar-btn:hover {
  text-decoration: underline;
}
.lbcg-parent .lbcg-sidebar-arrow {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  z-index: 1;
  color: #fc155c;
  background-color: #382063 !important;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
.lbcg-parent .lbcg-sidebar-arrow:before {
  content: "›";
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  width: 38px;
  height: 38px;
  font-size: 26px;
  line-height: 38px;
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  -ms-transform-origin: center center;
      transform-origin: center center;
  text-align: center;
  transition: all 0.3s;
  z-index: 1;
}
.lbcg-parent .lbcg-sidebar-body {
  overflow: hidden;
  overflow-y: auto;
  max-height: 0;
  transition: max-height 0.3s;
}
.lbcg-parent .lbcg-sidebar-link {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  color: #6c757d;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s;
}
.lbcg-parent .lbcg-sidebar-link:hover, .lbcg-parent .lbcg-sidebar-link:focus {
  text-decoration: none !important;
}
.lbcg-parent .lbcg-sidebar-link:hover {
  color: #fd477f;
}
.lbcg-parent .lbcg-sidebar-link.active {
  color: #fd477f;
}
.lbcg-parent .lbcg-input, .lbcg-parent .lbcg-select {
  display: block;
  min-width: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.lbcg-parent .lbcg-input[type=file], .lbcg-parent .lbcg-select[type=file] {
  display: none;
}
.lbcg-parent .lbcg-input:not([type=file]), .lbcg-parent .lbcg-select:not([type=file]) {
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #CED4DA;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.lbcg-parent .lbcg-input:not([type=file]):focus, .lbcg-parent .lbcg-select:not([type=file]):focus {
  outline: none;
  border: 1px solid #000;
}
.lbcg-parent .lbcg-input[type=color], .lbcg-parent .lbcg-select[type=color] {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  background-color: #FFF;
  cursor: pointer;
  z-index: 1;
}
.lbcg-parent .lbcg-input[type=color]::-webkit-color-swatch-wrapper, .lbcg-parent .lbcg-select[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.lbcg-parent .lbcg-input[type=color]::-webkit-color-swatch, .lbcg-parent .lbcg-select[type=color]::-webkit-color-swatch {
  border: none;
}
.lbcg-parent textarea.lbcg-input, .lbcg-parent textarea.lbcg-input:not([type=file]) {
  height: auto;
}
.lbcg-parent .lbcg-input--opacity {
  position: absolute;
  right: 0;
  top: -5px;
  width: 100px;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  background-color: #FFF;
  cursor: pointer;
  z-index: 1;
}
.lbcg-parent .lbcg-input-wrap {
  position: relative;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  width: 100%;
}
.lbcg-parent .lbcg-input-wrap--collapse {
  margin: 10px 0;
  padding: 10px 0 10px 15px;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
.lbcg-parent .lbcg-input-wrap:not(:first-child) {
  margin-top: 15px;
}
.lbcg-parent .lbcg-input-wrap, .lbcg-parent .lbcg-input-wrap-in {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: stretch;
      justify-content: stretch;
}
.lbcg-parent .lbcg-input-wrap-in {
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.lbcg-parent .lbcg-input-wrap-in .lbcg-input-wrap:first-child {
  margin-top: 8px;
}
.lbcg-parent .lbcg-input-wrap--subtitle .lbcg-label {
  width: 15%;
  min-width: 30px;
}
.lbcg-parent .lbcg-input-wrap--subtitle .lbcg-input {
  text-align: center;
}
.lbcg-parent .lbcg-input-wrap--words-distribution .lbcg-label:first-of-type {
  width: 75%;
  min-width: 30px;
}
.lbcg-parent .lbcg-input-wrap--words-distribution .lbcg-label:last-of-type {
  width: 24%;
  min-width: 30px;
}
.lbcg-parent .lbcg-input-wrap-head {
  font-weight: 500;
  color: #000;
}
.lbcg-parent .lbcg-input-wrap h1, .lbcg-parent .lbcg-input-wrap h2, .lbcg-parent .lbcg-input-wrap h3, .lbcg-parent .lbcg-input-wrap h4, .lbcg-parent .lbcg-input-wrap h5, .lbcg-parent .lbcg-input-wrap h6 {
  margin-bottom: 0.5rem;
  color: var(--theme-heads, #fc155c);
  font-weight: 500;
  line-height: 1.15;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
}
.lbcg-parent .lbcg-input-wrap h1 {
  font-size: var(--h1-size, 2rem);
}
.lbcg-parent .lbcg-input-wrap h2 {
  font-size: var(--h2-size, 1.8rem);
}
.lbcg-parent .lbcg-input-wrap h3 {
  font-size: var(--h3-size, 1.2rem);
}
.lbcg-parent .lbcg-input-wrap h4 {
  font-size: var(--h4-size, 1rem);
}
.lbcg-parent .lbcg-input-wrap h5 {
  font-size: var(--h5-size, 1rem);
}
.lbcg-parent .lbcg-input-wrap h6 {
  font-size: var(--h6-size, 1rem);
}
.lbcg-parent .lbcg-input-wrap .lbcg-custom-btn {
  margin-left: 0 !important;
  margin-bottom: 1rem !important;
  font-size: 16px !important;
}
.lbcg-parent .lbcg-input-wrap .h1-text {
  font-size: var(--h1-size, 2rem) !important;
}
.lbcg-parent .lbcg-input-wrap .h2-text {
  font-size: var(--h2-size, 1.8rem) !important;
}
.lbcg-parent .lbcg-input-wrap .h3-text {
  font-size: var(--h3-size, 1.2rem) !important;
}
.lbcg-parent .lbcg-input-wrap .h4-text {
  font-size: var(--h4-size, 1rem) !important;
}
.lbcg-parent .lbcg-input-wrap .h5-text {
  font-size: var(--h5-size, 1rem) !important;
}
.lbcg-parent .lbcg-input-wrap .h6-text {
  font-size: var(--h6-size, 1rem) !important;
}
.lbcg-parent .lbcg-label {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 6px;
  cursor: pointer;
}
.lbcg-parent .lbcg-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1000;
  left: 0;
  top: 0;
}
.lbcg-parent .lbcg-checkbox ~ .lbcg-label {
  padding-right: 30px;
}
.lbcg-parent .lbcg-checkbox:not(:checked) ~ .lbcg-input-wrap--collapse {
  display: none;
}
.lbcg-parent .lbcg-checkbox:checked ~ .lbcg-checkbox-holder:before {
  opacity: 1;
}
.lbcg-parent .lbcg-checkbox-holder {
  position: absolute;
  right: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  background-color: #FFF;
  cursor: pointer;
  z-index: 1;
}
.lbcg-parent .lbcg-checkbox-holder:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #000;
  transition: opacity 0.3s;
  opacity: 0;
}
.lbcg-parent label.lbcg-btn,
.lbcg-parent button.lbcg-btn,
.lbcg-parent a.lbcg-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 30px;
  background-color: transparent !important;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.lbcg-parent label.lbcg-btn:hover, .lbcg-parent label.lbcg-btn:focus,
.lbcg-parent button.lbcg-btn:hover,
.lbcg-parent button.lbcg-btn:focus,
.lbcg-parent a.lbcg-btn:hover,
.lbcg-parent a.lbcg-btn:focus {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  text-decoration: none !important;
}
.lbcg-parent label.lbcg-btn--back,
.lbcg-parent button.lbcg-btn--back,
.lbcg-parent a.lbcg-btn--back {
  padding: 4px 10px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  background-color: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.lbcg-parent label.lbcg-btn--back:hover, .lbcg-parent label.lbcg-btn--back:focus,
.lbcg-parent button.lbcg-btn--back:hover,
.lbcg-parent button.lbcg-btn--back:focus,
.lbcg-parent a.lbcg-btn--back:hover,
.lbcg-parent a.lbcg-btn--back:focus {
  color: #fff;
  background-color: #6c757d !important;
}
.lbcg-parent label.lbcg-btn--back:focus,
.lbcg-parent button.lbcg-btn--back:focus,
.lbcg-parent a.lbcg-btn--back:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.lbcg-parent label.lbcg-btn--back.lbcg-btn--lg,
.lbcg-parent button.lbcg-btn--back.lbcg-btn--lg,
.lbcg-parent a.lbcg-btn--back.lbcg-btn--lg {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}
.lbcg-parent label.lbcg-btn--main,
.lbcg-parent button.lbcg-btn--main,
.lbcg-parent a.lbcg-btn--main {
  padding: 4px 10px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  color: #212529 !important;
  background-color: #ffc107 !important;
  border: 1px solid #ffc107;
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.lbcg-parent label.lbcg-btn--main:hover, .lbcg-parent label.lbcg-btn--main:focus,
.lbcg-parent button.lbcg-btn--main:hover,
.lbcg-parent button.lbcg-btn--main:focus,
.lbcg-parent a.lbcg-btn--main:hover,
.lbcg-parent a.lbcg-btn--main:focus {
  background-color: #e0a800 !important;
  border-color: #d39e00;
}
.lbcg-parent label.lbcg-btn--main:focus,
.lbcg-parent button.lbcg-btn--main:focus,
.lbcg-parent a.lbcg-btn--main:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.lbcg-parent label.lbcg-btn--main.lbcg-btn--lg,
.lbcg-parent button.lbcg-btn--main.lbcg-btn--lg,
.lbcg-parent a.lbcg-btn--main.lbcg-btn--lg {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}
.lbcg-parent label.lbcg-btn--remove,
.lbcg-parent button.lbcg-btn--remove,
.lbcg-parent a.lbcg-btn--remove {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: 20px 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath style='fill:%23E21B1B;' d='M255.832,32.021c123.697,0.096,223.907,100.45,223.811,224.147s-100.45,223.907-224.147,223.811 C131.863,479.883,31.685,379.633,31.685,256C31.869,132.311,132.143,32.117,255.832,32.021 M255.832,0 C114.443,0.096-0.096,114.779,0,256.168S114.779,512.096,256.168,512C397.485,511.904,512,397.317,512,256 C511.952,114.571,397.261-0.048,255.832,0z'/%3E%3Cg%3E%3Crect x='227.863' y='113.103' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -106.0971 255.9227)' style='fill:%23E21B1B;' width='56.028' height='285.857'/%3E%3Crect x='112.943' y='227.962' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -106.0594 255.9024)' style='fill:%23E21B1B;' width='285.857' height='56.028'/%3E%3C/g%3E%3C/svg%3E");
  z-index: 1;
  opacity: 0.65;
  transition: opacity 0.3s;
}
.lbcg-parent label.lbcg-btn--remove:hover, .lbcg-parent label.lbcg-btn--remove:focus,
.lbcg-parent button.lbcg-btn--remove:hover,
.lbcg-parent button.lbcg-btn--remove:focus,
.lbcg-parent a.lbcg-btn--remove:hover,
.lbcg-parent a.lbcg-btn--remove:focus {
  opacity: 1;
}
.lbcg-parent .lbcg-buttons-wrap {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.lbcg-parent .lbcg-buttons-wrap .lbcg-btn--lg {
  min-width: 120px;
  width: auto !important;
}
.lbcg-parent .lbcg-buttons-wrap .lbcg-btn--lg:only-child {
  margin-left: auto;
}
.lbcg-parent .lbcg-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 0 0 20px 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lbcg-parent .lbcg-card:before, .lbcg-parent .lbcg-card:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lbcg-parent .lbcg-card:before {
  background-repeat: var(--lbcg-card-bg-repeat);
  background-size: var(--lbcg-card-bg-size);
  background-position: var(--lbcg-card-bg-pos);
  background-color: var(--lbcg-card-bg-color);
  background-image: var(--lbcg-card-bg-image);
  opacity: var(--lbcg-card-bg-opacity);
  z-index: 1;
}
.lbcg-parent .lbcg-card:after {
  z-index: 1000;
  opacity: 0;
  background-color: #F1F2F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='display: block; shape-rendering: auto;' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='translate(50 50) scale(0.7000000000000001) translate(-50 -50)'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' calcMode='spline' dur='4s' values='0 50 50;90 50 50;180 50 50;270 50 50;360 50 50' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animateTransform%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='1;1;0.5' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Cg transform='translate(25 25)'%3E%3Crect x='-25' y='-25' width='52' height='52' fill='%2393dbe9'%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(25 75)'%3E%3Crect x='-25' y='-25' width='52' height='50' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(75 25)'%3E%3Crect x='-25' y='-25' width='50' height='52' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='translate(75 75)'%3E%3Crect x='-25' y='-25' width='50' height='50' fill='%2393dbe9'%3E%3CanimateTransform attributeName='transform' type='scale' dur='1s' repeatCount='indefinite' calcMode='spline' values='0;1;1' keyTimes='0;0.5;1' keySplines='1 0 0 1;1 0 0 1'%3E%3C/animateTransform%3E%3Canimate attributeName='fill' dur='4s' repeatCount='indefinite' calcMode='spline' values='%2393dbe9;%23689cc5;%235e6fa3;%233b4368;%2393dbe9' keyTimes='0;0.25;0.5;0.75;1' keySplines='0 1 0 1;0 1 0 1;0 1 0 1;0 1 0 1'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100px auto;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
.lbcg-parent .lbcg-card-subtitle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: var(--lbcg-header-font-size);
  line-height: calc(var(--lbcg-header-font-size) * 1.1);
  color: var(--lbcg-header-text-color);
  font-family: var(--lbcg-header-font-family);
  z-index: 2;
}
.lbcg-parent .lbcg-card-subtitle-text {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  line-height: inherit;
  z-index: 2;
}
.lbcg-parent .lbcg-card-subtitle-text > span {
  display: block;
  width: 20%;
  text-align: center;
  line-height: inherit;
}
.lbcg-parent .lbcg-card-subtitle-text:not(:empty) {
  padding: 10px 0;
}
.lbcg-parent .lbcg-card-header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: var(--lbcg-header-font-size);
  line-height: calc(var(--lbcg-header-font-size) * 1.1);
  height: var(--lbcg-header-height);
  color: var(--lbcg-header-text-color);
  font-family: var(--lbcg-header-font-family);
  z-index: 2;
}
.lbcg-parent .lbcg-card-header-holder {
  position: relative;
  padding: 20px 20px 0 20px;
}
.lbcg-parent .lbcg-card-header-holder:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-repeat: var(--lbcg-header-bg-repeat);
  background-size: var(--lbcg-header-bg-size);
  background-position: var(--lbcg-header-bg-pos);
  background-color: var(--lbcg-header-bg-color);
  background-image: var(--lbcg-header-bg-image);
  opacity: var(--lbcg-header-bg-opacity);
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lbcg-parent .lbcg-card-header-text {
  position: relative;
  display: block;
  text-align: center;
  line-height: inherit;
  z-index: 2;
}
.lbcg-parent .lbcg-card-col {
  position: relative;
  border-top: 1px solid var(--lbcg-grid-border-color);
  border-left: 1px solid var(--lbcg-grid-border-color);
  overflow: hidden;
  color: var(--lbcg-grid-text-color);
  z-index: 2;
}
.lbcg-parent .lbcg-card-col-checked {
  color: var(--lbcg-grid-square-text-color);
  background-color: var(--lbcg-grid-square-bg-color);
}
.lbcg-parent .lbcg-card-col:hover {
  cursor: pointer;
}
.lbcg-parent .lbcg-card-text {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 3px;
  text-align: center;
  z-index: 2;
  font-family: var(--lbcg-grid-font-family);
  font-size: var(--lbcg-grid-font-size);
  line-height: var(--lbcg-grid-line-height);
  color: inherit;
  /*overflow-wrap: var(--lbcg-grid-wrap-words);*/
  transform: translate3d(0, -50%, 0);
}
.lbcg-parent .lbcg-card img.emoji {
  max-width: 90%;
}
.lbcg-parent .lbcg-card-body {
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  z-index: 2;
}
.lbcg-parent .lbcg-card-body-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border-right: 1px solid var(--lbcg-grid-border-color);
  border-bottom: 1px solid var(--lbcg-grid-border-color);
}
.lbcg-parent .lbcg-card-body-grid:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  background-image: var(--lbcg-grid-bg-image);
  opacity: var(--lbcg-grid-bg-opacity);
  background-color: var(--lbcg-grid-bg-color);
  background-repeat: var(--lbcg-grid-bg-repeat);
  background-size: var(--lbcg-grid-bg-size);
  background-position: var(--lbcg-grid-bg-pos);
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-9 {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-9:not(:first-child) {
  margin-top: 20px;
}
.lbcg-parent .lbcg-card-body-grid.lbcg-grid-3 .lbcg-card-col:before, .lbcg-parent .lbcg-card-body-grid.lbcg-grid-4 .lbcg-card-col:before, .lbcg-parent .lbcg-card-body-grid.lbcg-grid-5 .lbcg-card-col:before, .lbcg-parent .lbcg-card-body-grid.lbcg-grid-9 .lbcg-card-col:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.lbcg-parent .lbcg-card-preview {
  position: absolute;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.lbcg-parent .lbcg-card-preview-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(73, 80, 87, 0.2);
}
.lbcg-parent .lbcg-card-preview-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: arvo, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
}
.lbcg-parent .lbcg-card-preview img {
  min-width: 350px;
  height: auto;
}
