@font-face {
  font-family: 'Mochiy Pop P One';
  src: url('../fonts/mochiy-pop-p-one.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('../fonts/dancing-script.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Saira Condensed';
  src: url('../fonts/saira-condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Creepster';
  src: url('../fonts/creepster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Holtwood One SC';
  src: url('../fonts/holtwood-one-sc.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofadi One';
  src: url('../fonts/sofadi-one.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}