#bingo-theme-custom-fields td label {
    font-weight: 600;
}

#bingo-theme-custom-fields td label.bca-subtitle {
    font-size: large;
}

#bingo-theme-custom-fields table, tbody {
    width: 100%;
}

#bingo-theme-custom-fields tr {
    margin-bottom: 5px;
}

#bingo-theme-custom-fields td {
    width: 25%;
    padding: 0 5px;
}

#bingo-theme-custom-fields tr.white-space {
    height: 10px;
}

#bingo-theme-custom-fields td select, td input, td textarea {
    max-width: 200px;
    width: 100%;
    margin: 0;
}

#bingo-theme-custom-fields td input[type="number"] {
    max-width: 70px;
}

#bingo-theme-custom-fields td input[type="color"] {
    max-width: 27px;
}

#bingo-theme-custom-fields td.bc-content textarea {
    min-height: 115px;
}

#bingo-theme-custom-fields td textarea {
    min-height: 45px;
}

#content-items-count {
    font-weight: bold;
}

#bingo-theme-custom-fields input.letter-title {
    text-align: center;
    margin: 0 3px;
    width: 30px;
}

#bingo-theme-custom-fields input.letter-title:first-child {
    margin-left: 0;
}

#bingo-theme-custom-fields input.letter-title:last-child {
    margin-right: 0;
}

#bingo-theme-custom-fields .lbcg-image-uploaded {
    width: 50px;
    margin-top: 12px;
}