#bingo-theme-custom-fields .lbcg-parent .lbcg-input:not([type='file']):not([type='color']), .lbcg-parent .lbcg-select:not([type='file']) {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

#bingo-theme-custom-fields .lbcg-generator-container {
    margin: 0 -12px;
    border-bottom: 1px solid #c3c4c7;
}

#bingo-theme-custom-fields .lbcg-input-field {
    width: 100%;
}